body {
    background-color: rgb(29, 29, 29);
}

#outerBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-auto-rows: 450px;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 15px;
}

img {
    border-radius: 6px;
}

@media screen and (max-width : 768px) {
    main {
        display: grid;
        grid-auto-rows: 225px;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 8px;
    }

    img {
        border-radius: 6px;
        width: 120px;
    }
}